/* Main content */
.main-article {
  padding: 25px;
  font-size: 2rem;
  width: 100%;
}

.main-article ul li {
  list-style: none;
  margin: 0.8rem;
}

.main-head {
  margin: 1.5rem;
  text-decoration: underline;
  font-weight: 700;
}

.main-article-paragraph {
  margin: 1.5rem;
  text-align: justify;
  text-indent: 2.5rem;
  line-height: 1.5;
}

.main-article-document-item {
  vertical-align: sub;
  margin: 1.5rem;
  justify-content: center;
  display: inline-block;
  align-items: center;
}

.main-article-document-item a:link,
.main-article-document-item a:visited {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-article-document-item a:hover,
.main-article-document-item a:active {
  text-decoration: none;
}

.item {
  display: flex;
  justify-content: center;
}

.image-about-me {
  width: 250px;
  float: left;
  margin-right: 2rem;
  border: 1px solid #0e0e0e;
  filter: grayscale(1);
}

.table {
  border-collapse: collapse;
  margin: auto;
  border: 3px solid #0e0e0e;
}

.table-head,
.submit-button:hover {
  background-color: #888888;
}

.table-heading-item,
.table-body-item {
  border: 1px solid #0e0e0e;
  table-layout: auto;
  padding: 0.8rem;
}

.link-to-another-site-page:link,
.link-to-another-site-page:visited {
  text-indent: 2.5rem;
  transition: all 0.25s;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.4rem;
  grid-auto-flow: dense;
}

.gallery a img {
  max-width: 100%;
  transition: all 0.25s;
}

.gallery a img:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px 5px #888888;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}

.contact-form-area,
contact {
  resize: none;
  font-size: 2rem;
}

.contact-form-text {
  justify-self: end;
  text-align: center;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.contact-left-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  height: 25px;
}

.submit-button {
  padding: 1rem 2rem;
  font-size: 2rem;
  cursor: pointer;
  font-weight: 700;
  background-color: #f3f3f3;
}
