/* Types
Font sizes - 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
Gap sizes - 2 / 4/ 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
Border sizes - 2 / 4/ 6 / 10 / 16 / 26 / 42 / 68

*/

/* Main content */
.main-article {
  border-radius: inherit;
  padding: 25px;
  box-shadow: 0px 0px 15px 5px #fff9db;
  font-size: 2rem;
  background-image: linear-gradient(
    to bottom,
    #ffe066 0px,
    #fff9db 10%,
    #fff9db 90%,
    #ffe066 100%
  );
}

.main-article ul li {
  list-style: none;
  margin: 0.8rem;
}

.main-head {
  margin: 1.5rem;
  text-decoration: underline;
  font-weight: 700;
}

.main-article-paragraph {
  margin: 1.5rem;
  text-align: justify;
  text-indent: 2.5rem;
}

.main-article-document-item {
  text-indent: 2.5rem;
  vertical-align: sub;
}

.main-article img {
  margin-right: 1.5rem;
  margin-right: 1.5rem;
}

.image-about-me {
  width: 250px;
  float: left;
}

.table {
  border-collapse: collapse;
  margin: auto;
  border: 3px solid #000;
}

.table-head {
  background-color: #ffe066;
}

.table-heading-item,
.table-body-item {
  border: 1px solid #000;
  table-layout: auto;
  padding: 0.8rem;
}

.link-in-table {
  border-bottom: 2px solid #000;
}

.link-to-another-site-page {
  text-indent: 2.5rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.4rem;
}

.gallery a img {
  /* object-fit: cover; */
  max-width: 100%;
  /* max-height: 100%; */
  /* border: 2px solid #000; */
  transition: all 0.25s;
}

.gallery a img:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px 5px #ffe066;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: left;
  gap: 1.5rem;
}

.contact-form-area {
  resize: none;
  font-size: 2rem;
}

.contact-form-text {
  justify-self: end;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-shrink: 1;
}

.contact-left {
  background-color: red;
}

.contact-left-item {
  margin-bottom: 1.5rem;
}

.contact-right {
  background-color: blue;
}

.contact-ico {
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
  border: none;
}
