/* Footer */
.main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  background-color: #ffe066;
  border-radius: inherit;
  padding: 10px;
  font-size: 1.6rem;
  font-weight: 500;
}
