/* General setting */
@font-face {
  font-family: Poppins;
  src: url(/font/Poppins-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Poppins;
  src: url(/font/Poppins-Medium.ttf);
  font-weight: medium;
}

@font-face {
  font-family: Poppins;
  src: url(/font/Poppins-Bold.ttf);
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  user-select: none;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: #000;
}

.master {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 96rem;
  min-height: calc(100vh - 18rem);
  margin: 0 auto;
  background-color: #f3f3f3;
}

.header-text,
.nav-item,
.main-footer,
.link-to-another-site-page:link,
.link-to-another-site-page:visited,
.main-article-document-item a:link,
.main-article-document-item a:visited,
.main-article-paragraph,
.main-article ul li {
  color: #444444;
}

.link-to-another-site-page:link,
.link-to-another-site-page:visited,
.main-article-document-item a:link,
.main-article-document-item a:visited {
  border-bottom: 2px solid #444444;
}

.main-footer,
.header {
  background-color: #0e0e0e;
}

.header-text:hover,
.nav-item:hover {
  color: #fff;
  text-shadow: 0px 0px 10px #fff;
}

.link-to-another-site-page:hover,
.link-to-another-site-page:active,
.main-article-document-item a:hover,
.main-article-document-item a:active {
  color: #0e0e0e;
  border-bottom: 2px solid #0e0e0e;
}
