/* Header */
.header-text {
  font-size: 7.4rem;
  font-weight: 700;
  color: #000;
}

.main-header {
  background-color: #ffe066;
  height: 15rem;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main-header:hover {
  text-shadow: 0px 0px 10px #555;
  box-shadow: 0px 0px 15px 5px #ffe066;
  background-color: #ffe066;
  transition: all 0.25s;
  transform: scale(1.03);
}
