/* Header */
.header {
  display: flex;
  width: 100vw;
  height: 15rem;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  position: sticky;
  z-index: 900;
}
.header-text {
  font-size: 7.4rem;
  font-weight: 700;
  transition: all 0.25s;
  cursor: pointer;
}

.header-text:hover {
  transform: scale(1.03);
}
