/* Navigation */
.nav {
  display: flex;
  gap: 3rem;
  height: 5rem;
}

.nav-item {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.25s;
}
.nav-item:hover {
  transform: scale(1.1);
}
