* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Rubik:wght@400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

p {
  text-indent: 15px;
}

.main-container {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.header-text {
  font-size: ;
}
